<!-- 
    @file: trash-table-builder.component.html
    @path: /src/app/admin/components/builders/trash-table-builder/trash-table-builder.component.html
    @project: RPSW Web
    @author: RPSW
    @created: 2025
    @refactor-note (2026-08-5): hlavička i řádkové buňky tlačítek (Restore/Delete
        Permanently) nyní navíc kontrolují canManageTrash (deletePermission) - viz
        trash-table-builder.component.ts stejné datum. Musí zůstat SYNCHRONIZOVANÉ na
        obou místech, jinak by hlavička a řádky měly různý počet sloupců.
-->

<div class="table-responsive">
<table [class.fit-content-table]="!isFullWidth">
@if (tableCaption) {
<caption>
<div class="caption-content-wrapper">
<div class="caption-text">
            {{ tableCaption }}
</div>
</div>
</caption>
    }
<thead>
<tr>
@for (col of columnDefinitions; track col) {
<th>
<ng-container>
<span class="header-content">
                {{ col.header }}
</span>
</ng-container>
</th>
        }
@for (button of buttons; track button) {
@if (button.isActive && canManageTrash) {
<th class="button-header">
              {{ button.header_name }}
</th>
          }
        }
</tr>
</thead>
<tbody>
@if (data && data.length > 0) {
@for (item of data; track item) {
<tr>
@for (col of columnDefinitions; track col) {
@if (!col.hidden) {
<td>
@switch (col.type) {
@case ('image') {
@if (getCellValue(item, col)) {
<img [src]="getCellValue(item, col)" alt="Obrázek" class="table-cell-image">
                      }
@if (!getCellValue(item, col)) {
<span>Není obrázek</span>
                      }
                    }
@case ('link') {
<a [href]="getCellValue(item, col)" target="_blank">{{ getCellValue(item, col) }}</a>
                    }
@default {
                      {{ getCellValue(item, col) }}
                    }
                  }
</td>
              }
            }
@for (button of buttons; track button) {
@if (button.isActive && canManageTrash) {
<td class="action-button-cell">
<button
[class]="button.type"
[attr.title]="button.display_name"
[attr.aria-label]="button.display_name"
(click)="handleAction(item, button.action)">
@if (button.icon) {
<app-icon [name]="button.icon"></app-icon>
} @else {
                    {{ button.display_name }}
                  }
</button>
</td>
              }
            }
</tr>
        }
      } @else {
<tr>
<td [attr.colspan]="colspanValue" class="no-data-msg">
            Nebyla nalezena žádná data.
</td>
</tr>
      }
</tbody>
</table>
</div>

<div class="toolbar-trash">
<app-button-builder
[configs]="deleteAllButtonConfig"
(actionTriggered)="handleToolbarAction($event)">
</app-button-builder>

<label class="checkbox-container">
<input type="checkbox" [(ngModel)]="isFullWidth">
    Zobrazit tabulku na šířce stránky
</label>
</div>