<!-- 
    @file: kb-footer.component.html
    @path: /src/app/admin/intranet/knowledge-base/substitutions/kb-footer/kb-footer.component.html
    @project: RPSW Web
    @author: RPSW
    @created: 2026 
-->
    
<footer class="article-footer">
    <div class="footer-content">
      <div class="footer-contact">
        <p><strong>Vytvořil:</strong> JonclSolutions</p>
        <p class="tiny-text">Pro informace nebo nahlášení chyb kontaktujte <a href="mailto:info@jonclsolutions.com" class="footer-mail-link">info@jonclsolutions.com</a>.</p>
      </div>
    </div>
  </footer>