<!-- 
    @file: not-found.component.html
    @path: /src/app/public/web-pages/not-found/not-found.component.html
    @project: RPSW Web
    @author: RPSW
    @created: 2026 
-->
    
<div class="main-content full-height">
  <div class="not-found-container">
    <div class="error-box">
      <div class="svg-placeholder">
        <img [src]="icon_path">
      </div>
      
      @if (t) {
        <h2 class="header-0-2-t">{{ t.header }}</h2>
        <p class="text-1">
          {{ t.text }}
        </p>

        <div class="btn-wrapper">
          <a routerLink="/home" class="home-btn-404">
            {{ t.button }}
          </a>
        </div>
      }
    </div>
  </div>
</div>