<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -MultiViews -Indexes

    # 1. Rule for Storage - if a symlink exists in /www
    RewriteCond %{REQUEST_URI} ^/storage [NC]
    RewriteRule ^storage/(.*)$ storage/$1 [L]

    # 2. Laravel API -> /laravel/public/index.php
    RewriteCond %{REQUEST_URI} ^/api
    RewriteRule ^ laravel/public/index.php [L]

    # 3. If the file or directory exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 4. Everything else -> Angular index.html
    RewriteRule ^ index.html [L]
</IfModule>